@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  --Scissors-Gradient: hsl(39, 89%, 49%);
  --Scissors-Gradient-2: hsl(40, 84%, 53%);
  --Paper-Gradient: hsl(230, 80%, 52%);
  --Paper-Gradient-2: hsl(230, 89%, 65%);
  --Rock-Gradient: hsl(349, 61%, 42%);
  --Rock-Gradient-2: hsl(349, 70%, 56%);
  --Lizard-Gradient: hsl(261, 63%, 50%);
  --Lizard-Gradient-2: hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%);
  --Cyan-2: hsl(189, 58%, 57%);

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  --Radial-Gradient: hsl(214, 47%, 23%);
  --Radial-Gradient-2: hsl(237, 49%, 15%);
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  background: radial-gradient(circle at center, var(--Radial-Gradient), var(--Radial-Gradient-2));
}